:root{
    --jaune: rgb(255, 195, 83);
}

$medium-up: "only screen and (min-width: 768px)";
$xl-up: "only screen and (min-width: 1200px)";


@font-face {
    font-family: "Robo";
    src: url("Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "OpenS";
    src: url("Fonts/Open_Sans/OpenSans-Bold.ttf");
}

body{
    font-family: "Robo";
    color: white !important;
}

%trans1{
    transition: all .2s ease-in-out;
}

%scale{
    transform: scale(1.1);
}

%hr{
    border: 2px solid rgba(255, 255, 255, 0.411);
}

/*  header  */
header{
    background: url(IMG/banner_bg.jpg) fixed;
    background-size: cover;
    height: 90vh;
}

#hLogo, .logoT{
    font-family: "OpenS";
}

.navbar-nav li a{
    @extend %trans1;
    &:hover{
        color: grey !important;
    }
}

#linkHeader{
    @extend %trans1;

    &:hover{
        background-color: var(--jaune) !important;
        color: white !important;
        cursor: pointer;
        @extend %scale;
    }
}

/* main */

  /* cards */

#Cards{
    background: url(IMG/about-bg.jpg) fixed;
    background-size: cover;
}

.logosCards{
    background-color: var(--jaune);
    border: 4px solid white;
    width: 10rem;
}

.linksCards{
    @extend %trans1;

    &:hover{
        background-color: var(--jaune) !important;
        color: black !important;
        cursor: pointer;
        @extend %scale;
    }
}

/* our gallery */

#hrOur{
   @extend %hr;
}

.liOur{
    list-style: none;
    @extend %trans1;

    &:hover{
        text-decoration: none;
        @extend %scale;
    }
}

.linksOur{
    @extend %trans1;


    &:hover{
        color: darken($color: rgb(201, 201, 201), $amount: 10) !important;
        text-decoration: none;
        @extend %scale;
    }
}

    /*swiper*/

#swiperCont{
    background-color: var(--jaune);
}

#swiperCol{
    margin: 7rem 0;
}

.swiper-slide{
    display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

  /*Blog Posts*/

#blogCont{
    background: url(IMG/blog-bg.jpg) fixed;
    background-size: cover;
    height: 75vh;
}
// @media $xl-up{
//     #blogCont{
//         height: vh;
//     }
// }

#hrBlog{
    @extend %hr;
}

#blogMenu{
    background-color: rgba(0, 0, 0, 0.527);
}

#btnBlog1, #btnBlog2, #btnBlog3, #btnBlog4{
    &:hover{
        cursor: pointer;
        color: crimson !important;
    }
}

#blogCards1, #blogCards2, #blogCards3, #blogCards4{
    display: none;
}

.openBlogCard{
    display: block !important;
}