:root{
    --jaune: rgb(255, 195, 83);
}


@font-face {
    font-family: "Robo";
    src: url("/Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Open";
    src: url("/Fonts/Open_Sans/OpenSans-Bold.ttf");
}

body{
    font-family: "Robo";
    color: white !important;
}

%trans1{
    transition: all .2s ease-in-out;
}

%scale{
    transform: scale(1.1);
}

/*  header */
header{
    background: url(/IMG/banner_bg.jpg) fixed;
    background-size: cover;
    height: 90vh;
}

#hLogo, .logoT{
    font-family: "Open";
}

.navbar-nav li a{
    @extend %trans1;
    &:hover{
        color: grey !important;
    }
}

#linkHeader{
    @extend %trans1;

    &:hover{
        background-color: var(--jaune) !important;
        color: white !important;
        cursor: pointer;
        @extend %scale;
    }
}

/* main */

  /* cards */

#Cards{
    background: url(/IMG/about-bg.jpg) fixed;
    background-size: cover;
}

.logosCards{
    background-color: var(--jaune);
    border: 4px solid white;
    width: 10rem;
}

.linksCards{
    @extend %trans1;

    &:hover{
        background-color: var(--jaune) !important;
        color: black !important;
        cursor: pointer;
        @extend %scale;
    }
}

/* our gallery */

#hrOur{
   border: 2px solid rgba(255, 255, 255, 0.411);
}

.liOur{
    list-style: none;
    @extend %trans1;

    &:hover{
        text-decoration: none;
        @extend %scale;
    }
}

.linksOur{
    @extend %trans1;


    &:hover{
        color: darken($color: rgb(201, 201, 201), $amount: 10) !important;
        text-decoration: none;
        @extend %scale;
    }
}